.vis-background.maintenance {
	background-color: rgba(255, 0, 0, 0.15);
}

.vis-background.demo {
	background-color: rgba(55, 116, 230, 0.15);
}

.vis-center>.vis-content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}
.vis-left>.vis-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.vis-item.vis-range.maintenance {
  color: #000;
  background-color: #73B2E8;
  border-color: #2E6DA4;
}
.vis-item.vis-range.vis-selected.maintenance {
  color: #fff;
  background-color: #275F8E;
  border-color: #204d74;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(39, 95, 142, 0.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(39, 95, 142, 0.8);
}

.vis-item.vis-range.up-time-request {
  color: #000;
  background-color: #FFC779;
  border-color: #DE8F1F;
}
.vis-item.vis-range.vis-selected.up-time-request {
  color: #fff;
  background-color: #E68D11;
  border-color: #BD6F01;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(212, 129, 14);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(212, 129, 14);
}

.dateTable {
  margin-bottom: 0px;
}

.dateTable>tbody>tr>.dateTd {
  padding-left: 0px;
  padding-right: 0px;
}

.dateTable>tbody>tr>td {
  border-top: 0px;
  border-top-width: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
.vis-group {
  cursor: not-allowed;
  background-color: rgba(0,0,0,0.05);
}
.vis-group.editable {
  cursor: auto;
  background-color: transparent;
}
.vis-label {
  background-color: rgba(0,0,0,0.10);
  border-left-color: #FF7F6E;
  border-left-width: medium;
  border-left-style: solid;
  padding-right: 3px;
}
.vis-label.editable {
  background-color: transparent;
  border-left-color: #73B2E8;
  border-left-width: medium;
  border-left-style: solid;
  padding-right: 3px;
}